.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $main-white;
  height: 78vh;
  width: min(80vw,520px);
  max-width: 580px;
  border-radius: 10px;
}

.ConversationModal {
  position: relative;
  height: 78vh;
}

.ConversationModal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $text--light-gray;
  cursor: pointer;
  margin-left: 10px;
}

.ConversationModal h2 {
  padding: 1.5vw;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 17px;
  border-bottom: 1px solid $border-gray;
}

.ConversationModal__search-bar {
  background-color: $main-white;
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2vh;
  border: 1px solid $border-dark-blue;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 4px $box-shadow-light-blue;
}

.ConversationModal__search-bar span {
  color: $text--light-gray;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 10px;
}


.ConversationModal input {
  width: 100%;
  border: none;
  background-color: $main-white;
  outline: 0;
  height: 1.5rem;
  font-size: .95rem;
}

.ConversationModal input:focus {
  outline: none;
  outline-width: 0;
  outline-style: none!important;
  border-width:0px;
  outline-width: 0;
  box-shadow: none!important;
  -webkit-tap-highlight-color: transparent;
}

.ConversationModal__search-display-users {
  padding: .5vh 1.5vw;
  display: flex;
  align-items: center;
}

.ConversationModal__search-display-users span {
  margin: 0;
  color: $text-black;
  // font-weight: bold;
}

.ConversationModal__search-display-users img {
  margin-right: 10px;
  border-radius: 5px;
  height:35px;
  width: 35px;
}

.ConversationModal__search-display-users:hover {
  background-color: $lightish-message-hover;
  cursor: pointer;
}

.SearchResults__not-in-channel .ConversationModal__search-display-users, 
.SearchResults__in-channel .ConversationModal__search-display-users {
  justify-content: space-between;
}

.SearchResults__not-in-channel .ConversationModal__search-display-users div, 
.SearchResults__in-channel .ConversationModal__search-display-users div {
  display: flex;
  align-items: center;
  padding: 0;
}

.ConversationModal h3 {
  padding: 1vh 1.5vw;
  font-size: .8rem;
  color: $text--light-gray;
}

.SearchResults ul {
  padding-bottom: 1.5vh;
}

.SearchResults {
  height: 64vh;
  display: flex;
  flex-direction: column;
}

.SearchResults.hidden {
  height: 0;
}

.SearchResults__in-channel {
  flex-shrink: 0;
  display: none;
}

.SearchResults__in-channel:not(:empty) {
  display: block;
}

.SearchResults div {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.SearchResults__not-in-channel {
  background-color: aliceblue;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}

.SearchResults__not-in-channel:not(:empty) {
  border-top: 1px solid $border-gray;
  display: block;
}

.SearchResults button {
  height: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: $link-blue;
}

.SearchResults__no-matches {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.SearchResults__no-matches span {
  margin-left: 5px;
  font-weight: bold;
}





// For pinned messages
.modal-background.convo-pinnedMessages {
  background-color: transparent;
}

.convo-pinnedMessages .modal-child {
  transform: translate(0,0);
  border: 1px solid $border-gray;
  height: auto;
  max-height: 60vh;
  top: 18.5vh;
  left: calc(14vw + 70px);
  overflow-y: scroll;
  background-color: rgb(248, 248, 248);
  padding: 0;
}

.convo-pinnedMessages .MessageItemCard img {
  height: 20px;
  width: 20px;
}

.convo-pinnedMessages .MessageItemCard__info {
  justify-content: flex-start;
  align-items: center;
  font-size: .95rem;
  font-weight: bold;
}

.convo-pinnedMessages .MessageItemCard__body {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.convo-pinnedMessages .MessageItemCard__date {
  font-size: .75rem;
  padding-left: 0;
  color: $text--light-gray;
}

.convo-pinnedMessages .MessageItemCard {
  margin-bottom: 8px;
}

.convo-pinnedMessages .MessageItemCard__container {
  padding-left: 16px;
  padding-right: 0;
}

.convo-pinnedMessages .MessageItemCard__container:first-child {
  margin-top: 3vh;
}

.convo-pinnedMessages .MessageItemCard__content {
  position: relative;
}

.convo-pinnedMessages span {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1000;
  font-size: .8rem;
}



// Edit profile modal

.profile-edit .modal-child {
  height: auto;
  max-height: 85vh;
  width: min(50vw,500px);
  padding: 30px 16px 30px 30px;
  overflow-y: scroll;
}

.profile-edit h3 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 2vh;
}

.profile-edit form {
  display: flex;
  justify-content: space-between;
}

.EditProfile__left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.EditProfile__left p {
  font-size: .8rem;
  color: $text--light-gray;
}

.EditProfile__right {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  align-items: center;
}

.EditProfile__right img {
  max-width: min(28vh, 250px);
  max-height: min(28vh, 250px);
  border-radius: 10px;
}

.EditProfile__left div {
  margin-bottom: 15px;
}

.EditProfile__left label,
.EditProfile__right label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
}

.EditProfile__left input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.EditProfile__left input, .EditProfile__right input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid $border-gray;
  border-radius: 5px;
  color: $text--light-gray
}

.EditProfile__left input[type="text"]:focus, 
.EditProfile__left input[type="email"]:focus, 
.EditProfile__left input[type="tel"]:focus,
.EditProfile__left input[type="url"]:focus, 
.EditProfile__right input[type="url"]:focus {
  outline: .3px solid $text--light-gray;
  box-shadow: 0px 0px 0px 4px $box-shadow-blue;
  transition: height .5s;
  color: $text-black;
}

.EditProfile__right label {
  margin-top: 15px;
}

.EditProfile__btns {
  display: flex;
  justify-content: flex-end;
}


.EditProfile__btns button {
  border: none;
  padding: 0px 16px;
  height: 40px;
  border-radius: 5px;
  font-weight: 600;
}

.EditProfile__btns .EditProfile__btn-not-solid {
  background-color: $main-white;
  border: 1px solid $border-gray;
  // margin-right: 15px;
}

.EditProfile__btns .EditProfile__btn-not-solid:hover {
  background-color: $callout-box-gray;
  // margin-right: 15px;
}

.EditProfile__btns .EditProfile__btn-solid {
  margin-left: 15px;
  background-color: $button-green;
  color: $main-white;
}

.EditProfile__btn-solid:hover {
  margin-left: 15px;
  background-color: $button-green-hover;
}

// Conversation modal
.convo-addMembers .modal-child {
  width: min(50vw,500px);
}

// Channel modal

.channel-modal-description .modal-child,
.channel-modal-members .modal-child {
  height: auto;
  max-height: 85vh;
  width: min(50vw,500px);
  padding: 0;
  // overflow-y: scroll;
  background-color: $main-white;
}

.channel-modal-description h2,
.channel-modal-members h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: bold;
  border-bottom: none;
}

.channel-modal-description .ConversationModal__tabs,
.channel-modal-members .ConversationModal__tabs {
  border-bottom: 1px solid rgba(29, 28, 29, 0.3);
  padding-left: 20px;
  padding-bottom: 10px;
}

.channel-modal-description .ConversationModal__tabs button,
.channel-modal-members .ConversationModal__tabs button {
  padding: 0;
  border: none;
  background: none;
  margin-right: 20px;
  font: .9rem;
  font-weight: bold;
  color: $text--light-gray;
  cursor: pointer;
}

.channel-modal-description .ConversationModal__tabs .active,
.channel-modal-members .ConversationModal__tabs .active {
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 2px;
  text-decoration-color: $button-green;
  color: $text-black;
}

.channel-modal-description .ChannelModal__tab-content,
.channel-modal-members .ChannelModal__tab-content {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-light-gray;
  border-radius: 10px;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: $main-white;
}

.ChannelModal__tab-card {
  position: relative;
  padding: 1.5vw;
}

.ChannelModal__tab-card:hover {
  background-color: $callout-box-gray;
  cursor: pointer;
}

.ChannelModal__tab-card:not(:last-child) {
  border-bottom: 1px solid $border-light-gray;
}

.ChannelModal__tab-card div {
  font-weight: bold;
  font-size: .95rem;
}

.ChannelModal__tab-card p {
  font-size: .95rem;
}

.ChannelModal__tab-content-container {
  padding-top: 2vw;
  background-color: $callout-box-gray;
  border-radius: 10px;
  height: 80%;
}

.channel-modal-description .ConversationModal,
.channel-modal-members .ConversationModal {
  border-radius: 10px;
}

.channel-modal-description .SearchResults__not-in-channel,
.channel-modal-members .SearchResults__not-in-channel {
  height:65%;
  // height: 55vh;
}

.ChannelModal__tab-content .ChannelModal__tab-edit {
  color: $link-blue;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: .8rem;
  cursor: pointer;
}

// Add channel modal

.channel-addChannel .modal-child {
  padding: 30px;
  height: auto;
  height: min(70vh,480px);
  width: min(70vw,480px);
}

.channel-addChannel h3 {
  font-size: 1.7rem;
  margin-bottom: 0;
  font-weight: bold;
  border-bottom: none;
}

.AddChannelModal__sub-heading {
  font-size: .95rem;
  color: $text--light-gray;
  padding: 15px 0;
}

.channel-addChannel label {
  font-size: .9rem;
  font-weight: bold;
}

.channel-addChannel p {
  font-size: .85rem;
  color: $text--light-gray;
}


.channel-addChannel input {
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.channel-addChannel input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid $border-gray;
  border-radius: 5px;
  color: $text--light-gray
}

.channel-addChannel input[type="text"]:focus, 
.channel-addChannel .toggle:focus {
  outline: .3px solid $text--light-gray;
  box-shadow: 0px 0px 0px 4px $box-shadow-blue;
  transition: height .5s;
  color: $text-black;
}

.AddChannelModal__form-field {
  margin-bottom: 20px;
}

.channel-addChannel .modal-private-content {
  display: flex;
  justify-content: space-between;
}

.channel-addChannel .toggle {
  margin-left: 20px;
  width: 65px;
  height: 35px;
  border-radius: 17px;
  display: flex;
  align-items: center;
}

.channel-addChannel .toggle-false {
  background-color: gainsboro;
}

.channel-addChannel .toggle-true {
  background-color: $button-green;
}

.channel-addChannel .toggle.toggle-false {
  justify-content: flex-start;
}
// .channel-addChannel .toggle.toggle-false:hover {
// }

.channel-addChannel .toggle.toggle-true {
  justify-content: flex-end;
}

.channel-addChannel .toggle div {
  margin: 0px 4px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.channel-addChannel .toggle-false div {
  background-color: gray;
}

.channel-addChannel .toggle-true div {
  background-color: $main-white;
}

.toggle-true-content {
  color: $main-white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.toggle-true-content span {
  font-size: 1.2rem;
  margin: 0 3px 0 7px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.AddChannelModal button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: none;
  padding: 0px 16px;
  height: 40px;
  border-radius: 5px;
  font-weight: 600;
  background-color: $button-green;
  color: $main-white;
}

.EditProfile__btns .EditProfile__btn-solid {
  background-color: $button-green-hover;
}

.AddChannelModal__form-field .has-icon {
  position: relative;
}

.AddChannelModal__form-field .has-icon input {
  padding-left: 40px;
  width: calc(95% - 33px)
}

.AddChannelModal__form-field .input-icon {
  position: absolute;
  left: 10px;
  top: 6px;
  height: 34.5px;
  width: 20px;
  // transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text--light-gray;
}

.AddChannelModal__form-field-optional {
  margin-left: 8px;
  color: $text--light-gray;
  font-size: .83rem;
  font-weight: 400;
}

.AddChannelModal__form-field .AddChannelModal__form-field-error {
  color: $error-text-red;
  font-weight: bold;
}