$main-white: #fff;
$main-purple: #611f69;
$main-purple-hover: #4A154B;
$main-yellow: #ECB22E;

$splash-background: #f4ede4;

$text-black: #1d1c1d;
$text-gray: #454245;
$text--light-gray: #616061;

$link-blue: #1264A3;
$border-dark-blue: #14598d;
$button-blue: #4285f4;
$border-dark-gray: rgba(29, 28, 29, .4);
$border-gray: rgba(29, 28, 29, .3);
$border-medium-gray: rgba(29, 28, 29, .2);
$border-light-gray: rgba(29, 28, 29, .15);
$border-solid-light-gray: rgb(245, 244, 244);

$callout-box-gray-solid: rgba(29, 28, 29, 1);
$callout-box-gray: rgba(29, 28, 29, 0.05);
$box-shadow-gray: rgba(29, 28, 29, 0.1);
$box-shadow-blue: rgba(0, 144, 237, 0.4);
$box-shadow-light-blue: rgba(0, 144, 237, 0.22);

$error-text-red: rgba(224,30,90,.8);
$error-background: rgba(224,30,90,.1);
$error-border: rgba(224,30,90,.4);

$button-green: #007a5a;
$button-green-hover: #25a180;

// $box-border-transparent-solid: rgb(221, 221, 221);
$box-border-transparent-opaque: rgba(255,255,255,.2);
$box-border-transparent-less-opaque: rgba(255,255,255,.85);
$box-border-transparent-more-opaque: rgba(255,255,255,.12);
$box-background-light-purple: #ecdeec;;

// Main light theme:
$light-message-hover: rgba(29, 28, 29, 0.03);
$lightish-message-hover: rgba(29, 28, 29, 0.05);

$user-tag-highlight: rgba(242,199,68,.4);
$saved-yellow: rgba(242,199,68,.15);
$saved-yellow-dark: rgba(242,199,68,.3);
$user-tag-highlight-light: rgba(242,199,68,.1);
$saved-red: #e01e5a;
$pinned-yellow: #e8912d;

// App Themes:

// Monument:
$monument-column-bg:#0D7E83;
$monument-active-item :#F79F66;
$monument-active-item-text :#FFFFFF;
$monument-hover-item :#D37C71;
$monument-text-color:#FFFFFF;
$monument-active-presence:#F79F66;
$monument-mention-badge:#F15340;
$monument-top-nav-bg: #076570;
$monument-top-nav-text:#FFFFFF;

// Aubergine
$aubergine-column-bg :#3F0E40;
$aubergine-active-item :#1164A3;
$aubergine-active-item-text :#FFFFFF;
$aubergine-hover-item :#350d36;
$aubergine-text-color:#FFFFFF;
$aubergine-active-presence:#2BAC76;
$aubergine-mention-badge:#CD2553;
$aubergine-top-nav-bg: #350d36;
$aubergine-top-nav-text:#FFFFFF;

// Ochin
$ochin-column-bg :#303E4D;
$ochin-active-item :#6698C8;
$ochin-active-item-text :#FFFFFF;
$ochin-hover-item :#4A5664;
$ochin-text-color:#FFFFFF;
$ochin-active-presence:#94E864;
$ochin-mention-badge:#78AF8F;
$ochin-top-nav-bg: #2C3849;
$ochin-top-nav-text:#FFFFFF;
