$main-white: #fff;
$main-purple: #4A154B;

$text-black: #1d1c1d;
$text-gray: #454245;
$text--light-gray: #616061;

$link-blue: #1264A3;
$button-blue: #4285f4;
$border-gray: rgba(29,28,29,.3);

$callout-box-gray: rgba(29, 28, 29, 0.05);


