.BannerCompanies {
  // 92.500
  display: flex;
  // background-color: red;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding-top: 40px;
  padding-bottom: 32px;
}

.BannerCompanies img {
  height: 35px;
}