.SplashBottomCTA {
  background-color: $main-purple;
  color: $main-white;
  width: 100vw;
  position: relative;
  margin-top: 60px;
  padding: 100px 0px;
  left: calc(-50vw + 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border-bottom-left-radius: 70% 50%;
  // border-bottom-right-radius: 70% 50%;
  clip-path: ellipse(75% 100% at center top);
  z-index: 1;
}

.SplashBottomCTA h3 {
  font-size: 3.125rem;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: -.8px;
  line-height: 1.12;
  margin-left: 2rem;
  margin-right: 2rem;
}

// Placeholder color blocking footer for now:

.SplashFooter {
  background-color: $main-white;
  color: $text-black;
  width: 100vw;
  position: relative;
  margin-top: -100px;
  margin-bottom: -20px;
  padding-top: 160px; // really just 60 after negative top margin
  padding-bottom: 70px; // really just 50 after negative top margin
  left: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
  z-index: 0;
}

.SplashFooter_content {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.SplashFooter_content span {
  font-weight: bold;
  font-size: .9rem;
  cursor: pointer;
}

.SplashFooter_content li:nth-child(2) {
  margin-top: .5rem;
  margin-right: 1.5rem;
}

.SplashFooter_content li {
  font-size: .9rem;
  min-height: 30px;
  cursor: pointer;
  margin-right: 1.5rem;
}

.SplashBottomCTA__buttons a {
  margin: 0px 10px;
}