
// Temporary:
.Splash.logged-out {
  background-color: $splash-background
}

.Splash.logged-in {
  background-color: $main-purple-hover;
}

.Splash__body-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Splash__body {
  max-width: 1230px;
  padding: 16px;
}
