.SplashStats {
  background-color: $main-white;
  color: $text-black;
  width: 100vw;
  position: relative;
  margin-top: 60px;
  padding: 100px 0px;
  left: calc(-50vw + 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SplashStats ul {
  display: flex;
  justify-content: space-around;
  max-width: 1230px;
  flex-wrap: wrap;
}

.SplashStats li {
  width: 180px;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.SplashStats h3 {
  font-size: 3.125rem;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: -.8px;
  line-height: 1.12;
  margin-left: 2rem;
  margin-right: 2rem;
}

.SplashStats_stat {
  font-size: 3.5rem;
  font-weight: bold;
  color: $main-purple;
  margin-bottom: .3rem;
  letter-spacing: -.8px;
  line-height: 1.12;
}

.SplashStats_stat-copy {
  font-size: .98rem;
  font-weight: bold;
}
