
.DraftMessage {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-between;
}

.DraftMessage__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.DraftMessage__title {
  box-sizing: border-box;
  border-bottom: 1px solid $border-light-gray;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 100%;
  font-size: 1.1rem;
  height: 9.128vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  display: flex;
  align-items: center;
}

.DraftMessage__search {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  // flex-grow: 1;
  // padding: 2vh 2vw;
  border-bottom: 1px solid $border-light-gray;
  box-shadow: 0 2px 5px -1px $box-shadow-gray;
}

.DraftMessage__search label {
  margin-left: 2vw;
  font-size: .9rem;
  color: $text--light-gray;
  margin-right: 1.5vh;
}

.DraftMessage__content {
  padding: 1.7vh 2vw 1vh 2vw;
  font-size: 1.1rem;
}

.SearchUsers {
  background-color: $border-solid-light-gray;
  border: 1px solid $border-light-gray;
  box-shadow: 0px .8px 2.5px 1.5px $box-shadow-gray;
  width: 85%;
  max-height: 50vh;
  border-radius: 5px;
  overflow-y: scroll;
  position: absolute;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 0;
  // margin-left: 5%;
  // margin-right: 0;
  // margin-top: -1.5vh;
  top: 15.5vh;
  left: 4vw;
}

.SearchUsers:empty{
  display:none;
}

.SearchUsers li {
  margin-right: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  align-items: center;
}

.SearchUsers li:hover {
  background-color: $link-blue;
  color: $main-white;
}

#NewMessage__search-input {
  border: none;
  background-color: $main-white;
  outline: 0;
  height: 3rem;
  font-size: .95rem;
  width: 100%;
}

.DraftMessage__search-display-users {
  white-space: nowrap;
}

#DraftMessage__search-input {
  border: none;
  background-color: $main-white;
  outline: 0;
  height: 3rem;
  font-size: .95rem;
  width: 100%;
}


.DraftMessage__search input:focus {
  outline: none;
  border: none;
  border-width:0px;
  outline-width: 0;
  box-shadow: none;
}

.DraftMessage__search-display-users {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgb(229, 242, 251);
  border-radius: 5px;
  margin-right: .5vw;
  margin-right: .5vw;
}

.DraftMessage__search-display-users img {
  margin-right: 10px;
  border-radius: 5px;
  height: 30px;
  width: 30px;
}

.SearchUsers a {
  color: $text-black;
  font-weight: 400;
}

.SearchUsers a:hover {
  color: $main-white;
}

.AllDMs {
  background-color: $light-message-hover;
}

.MessageItemCard__container {
  padding-left: 2vw;
  padding-right: 2vw;
}

.MessageItemCard__container a {
  color: $text-black;
}

.AllDMs .MessageItemCard__container:first-child {
  margin-top: 2vh;
}

.DraftMessage.DMContainer {
  height: 95vh;
}

.AllDMs {
  padding-top: 2vh;
  padding-bottom: 0vh;
  overflow-y: scroll;
  display: flex; 
  flex-direction: column;
}

.AllDMs:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}


.MessageItemCard {
  display: flex;
  background-color: $main-white;
  border: 1px solid $border-light-gray;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 3vh;
}

.MessageItemCard:hover {
  background-color: $light-message-hover;
  cursor: pointer;
}

.MessageItemCard__info {
  display: flex;
  justify-content: space-between;
}

.MessageItemCard img {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-top: 4px;
  margin-right: 10px;
}

.MessageItemCard__content {
  display: flex;
  flex-direction: column;
  // flex: 0 0 calc(100%-4vw);
  width: calc(100%);
}

.MessageItemCard__body {
  font-size: .9rem;
}

.MessageItemCard__time {
  font-size: .8rem;
  color: $text--light-gray;
}

.MessageItemCard__date {
  font-size: .85rem;
  margin-bottom: 5px;
  padding-left: 2vh;
  // font-weight: bold;
}