.AppLeftBar__container {
  background-color: $monument-column-bg;
  color: $monument-text-color;
  flex: 0 0 min(15vw, 200px); 
  // When changing this, also need to change width for
  // .ConversationIndexItems__member-names
}

.AppLeftBar__container .ChatRoom {
  font-size: .9rem;
  font-weight: 300;
  color: $box-border-transparent-less-opaque;
  
}

.AppLeftBar__container a {
  color: $box-border-transparent-less-opaque;
}

.AppLeftBar__menu-btns li {
  display: flex;
  align-items: center;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.AppLeftBar__menu-btns li:hover {
  background-color: $monument-hover-item;
}

.AppLeftBar__menu-btns li i {
  padding-right: 10px;
  font-size: 1rem;
}

.AppLeftBar__section-header {
  display: flex;
  align-items: center;
  padding-left: 1.5vw;
  padding-right: .5vw;
  margin-bottom: 10px;
  cursor: pointer;
}


.AppLeftBar__section-header-dropdown {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 0;
  align-items: center;
  margin-right: 5px;
}


.AppLeftBar__section-header-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.AppLeftBar__section-header:hover span {
  display: block;
}

.AppLeftBar__section-header-name span {
  display: none;
}
.AppLeftBar__section-header-name span {
  font-size: 1.2rem;
  padding: 2px;
  background-color: $box-border-transparent-more-opaque;
  border-radius: 4px;
}

.AppLeftBar__section-header-dropdown {
  font-size: 1.2rem;
  border-radius: 4px;
}

.AppLeftBar__section-header-dropdown:hover {
  background-color: $box-border-transparent-more-opaque;
}

.AppLeftBar__container .ChatRoom__container {
  padding: 0;
}

.AppLeftBar__container .ChatRoom__container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .4);
}

.AppLeftBar__container .ChatRoomInfo span {
  cursor: pointer;
  display: flex;
}

.AppLeftBar__container .ChatRoomInfo div {
  padding: 6px;
  background-color: $main-white;
  border-radius: 50%;
  margin-left: 1.5vw;
}

.AppLeftBar__container .ChatRoomInfo span {
  font-size: 1.2rem;
  color: $monument-column-bg;
}


.ConversationIndexItems__container li {
  display: flex;
  align-items: center;
  padding-left: 1.5vw;
  padding-right: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.ConversationIndexItems__container li:hover {
  background-color: $monument-hover-item;
}

.ConversationIndexItems__container img {
  margin-right: 8px;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 5px;
}

.ConversationIndexItems__member-count {
  margin-right: 8px;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 5px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
}

.ConversationIndexItems__member-names {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: min(13vw, 180px);
}
