.App {
  display: flex;
  flex-direction: column;
}

.AppTopNav__container {
  background-color: $monument-top-nav-bg;
  color: $monument-top-nav-text;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1.5vh;
}

.AppTopNav__main {
  display: flex;
}


.AppTopNav__search-bar {
  width: 40vw;
  background-color: $box-border-transparent-opaque;
  border: 1px solid $border-dark-blue;
  border-radius: 5px;
  font-size: .82rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 300;
}

.AppTopNav__search-bar span {
  font-size: .9rem;
  margin-right: 5px;
  margin-bottom: -2px;
}

.AppTopNav__nav-btns {
  display: flex;
  align-items: center;
  margin-right: 1.5vw;
}

.AppTopNav__nav-btns i {
  font-size: 1.3rem;
}

.AppTopNav__nav-btns div {
  margin-left: 10px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppTopNav__nav-btns div:hover {
  background-color: $box-border-transparent-opaque;
}

.AppTopNav__profile {
  height: 3.2vh;
  width: 3.2vh;
  border-radius: 4px;
  cursor: pointer;
}

.App__content {
  display: flex;
}

.AppLeftBar__container {
  background-color: $monument-column-bg;
  color: $monument-text-color;
  // width: 300px;
  // flex: 0 0 280px;
  flex: 0 0 20vw;
}

.App__center-content {
  position: relative;
  display: flex;
  flex-direction: column;
  // width: 60vw;
  // width: 100%;
  flex-grow: 1
}

.ChatRoom__container {
  padding-top: 2vh;
  padding-bottom: 0vh;
  height: 64vh;
  overflow-y: scroll; // Change to hidden if want scrollbar not showing
  display: flex; 
  flex-direction: column-reverse;
}
.ChatRoom__container:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 16px;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.1);
  background-clip: padding-box; // Add margin
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
}

.AppLeftBar__container .ChatRoom__container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .4);
}

.MessageForm__float {
  height: 20vh;
}

.MessageForm__container {
  height: 16vh;
  width: calc(100% - 4vw);
  position: absolute;
  bottom: 0;
  overflow: hidden;
  padding: 2vh 2vw 2vh 2vw;
  display: flex;
  justify-content: center;
}

.MessageForm {
  background-color: blanchedalmond;
  // width: 56vw;
  width: 100%;
  border-radius: 10px;
}

.Thread {
  height: 100%;
}

.Thread .ChatRoom__container, .AppLeftBar__container .ChatRoom__container {
  height: 83vh; 
  // Should be 87 vh since top nav is 5vh and info header is 8vh
  flex-direction: column;
  // To start thread at top of container
}

.Profile .ChatRoom__container {
  height: 83vh; 
  // Should be 87 vh since top nav is 5vh and info header is 8vh
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  width: calc(100% - 4vw);
  // To start thread at top of container
}

// For edit form
.MessageForm__container.thread {
  height: 16vh;
  // width: min(40vw, 550px);
  // width: calc(100% - 4vw);
  position: relative;
  // bottom: 0;
  overflow: hidden;
  // width: min(25vw, 300px);
  width: auto;
  // Need to fix width later
  padding: 2vh 2vw 2vh 2vw;
  display: flex;
  justify-content: center;
}

.MessageForm__container.thread .MessageForm {
  background-color: blanchedalmond;
  border-radius: 10px;
}

.AppRightBar__container {
  // width: min(25vw, 300px);
  // width: 400px;
  // flex: 0 0 400px;
  flex: 0 0 28vw;
  border-left: 1px solid $border-light-gray;
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
}


.MessageItem {
  padding-top: .5vh;
  padding-bottom: .5vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.ChatRoom .MessageItem:last-child {
  // padding-bottom: 1vh;
}

.ChatRoom form {
  padding-left: 2vw;
  padding-right: 2vw;
  // background-color: blanchedalmond;
}

.MessageItem__container:hover .MessageItem {
  background-color: $light-message-hover;
}


.MessageItem {
  display: flex;
  position: relative;
}

.MessageItem__info {
  display: flex;
  flex-wrap: wrap;
}

.MessageItem__sender-name {
  word-break: break-all;
}

.MessageItem__sender-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.MessageItem__sender-profile-img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.MessageItem__sender-name {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 10px;
}

.MessageItem__time {
  font-size: .8rem;
  color: $text--light-gray;
}

.MessageItem__body {
  font-size: .9rem;
}

.MessageItem__date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MessageItem__date {
  background-color: $main-white;
  padding: .5rem 1.3rem;
  border-radius: 20px;
  font-size: .9rem;
  font-weight: 500;
  border: 1px solid $border-light-gray;
}

.MessageItem__date-container::after {
  content: '';
  width: 100%;
  height: 1px;
  background: $border-light-gray;
  display: block;
  position: relative;
  top: -1.15rem;
  z-index: -1;
}

.MessageItem__actions-container {
  height: 2rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  margin-right: .5rem;
  display: flex;
  justify-content: flex-end;
  display: none;
}

.MessageItem__actions {
  border: 1px solid $border-light-gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $main-white;
  z-index: 2;
}

.MessageItem__actions i {
  font-size: 1.1rem;
  padding: 4px;
  margin: 2px 0px;
  color: $text--light-gray;
  cursor: pointer;
}

.MessageItem__actions i:hover {
  background-color: $light-message-hover;
}

.MessageItem__container:hover .MessageItem__actions-container { 
  display: flex; 
}

.MessageItem__edited {
  color: $text--light-gray;
  font-size: .8rem;
  margin-left: 5px;
}

.MessageItem__reply-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  width: 40vw;
  padding: 1px 0px;
}

.Thread .MessageItem__reply-info-container {
  width: auto;
}

.MessageItem__reply-info-container:hover {
  background-color: $main-white;
  border-radius: 5px;
  border: 1px solid $border-light-gray;
  box-shadow: 0px 0px 10px -2px $callout-box-gray;
  padding: 0px;
}

.MessageItem__reply-info {
  display: flex;
  align-items: center;
  padding: 5px;
}

.Thread .MessageItem__reply-info img {
  display: none;
}

.MessageItem__reply-info img {
  height: 22px;
  width: 22px;
  border-radius: 3px;
  margin-right: 3px;
}

.MessageItem__reply-count {
  margin-left: 10px;
  color: $link-blue;
  font-size: .85rem;
  font-weight: bold;
}

.Thread .MessageItem__reply-count {
  // margin-left: -30px;
  color: $text--light-gray;
  font-weight: 400;
}


.MessageItem__reply-info-container span {
  display: none;
}

.MessageItem__reply-info-container:hover span {
  font-size: 1rem;
  padding-right: 8px;
  display: inline;
  color: $text--light-gray;
}






.ChatRoomInfo span {
  cursor: pointer;
}

.ThreadInfo__info {
  display: flex;
  align-items:flex-end;
}

.ThreadInfo__title {
  margin-right: 8px;
}

.ThreadInfo__name {
  font-size: .85rem;
  color: $text--light-gray;
  font-weight: 400;
}