.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile .ChatRoomInfo__container {
  width: 100%;
  margin-left: 0px;
}

.Profile .ChatRoomInfo {
  padding-left: calc(2vw);
  padding-right: calc(2vw);
}

.Profile .ChatRoom__container {
  width: calc(100% - 4vw + 16px);  // 4vw for padding and 16 px to account for scroll bar width
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: calc(2vw - 16px);
}

.Profile img {
  margin-top: 3vh;
  margin-bottom: 3vh;
  max-width: min(36vh, 280px);
  max-height: min(36vh, 280px);
  border-radius: 10px;
}

.Profile__name {
  font-weight: bold;
  font-size: 1.16rem;
}

// .Profile__title {
//   margin-bottom: 1vh;
// }

.Profile__status {
  font-size: .85rem;
  margin-bottom: 1vh;
  color: $text--light-gray;
}

.Profile__buttons {
  margin-top: 2vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-between;
}

.Profile__buttons span {
  background-color: $callout-box-gray;
  padding: 8px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Profile__buttons span:hover {
  background-color: $box-shadow-gray;
}

.Profile__buttons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
  color: $text--light-gray;
  margin-left: 20px;
  cursor: pointer;
}

.Profile__details {
  width: calc(100%);
  font-size: .88rem;
  color: $text--light-gray;
}

.Profile__details li {
  margin-bottom: 1.5vh;
}

.Profile__details span {
  font-weight: bold;
}