.AppTopNav__container {
  background-color: $monument-top-nav-bg;
  color: $monument-top-nav-text;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1.5vh;
}

.AppTopNav__main {
  width: 55vw;
}

.AppTopNav__main {
  display: flex;
  margin-left: -5vw;
}


.AppTopNav__search-bar {
  width: 45vw;
  background-color: $box-border-transparent-opaque;
  border: 1px solid $border-dark-blue;
  border-radius: 5px;
  font-size: .82rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 300;
}

.AppTopNav__search-bar span {
  font-size: .9rem;
  margin-right: 5px;
  margin-bottom: -2px;
}

.AppTopNav__nav-btns {
  display: flex;
  align-items: center;
  margin-right: 1.5vw;
}

.AppTopNav__nav-btns i {
  font-size: 1.3rem;
}

.AppTopNav__nav-btns div {
  margin-left: 10px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppTopNav__nav-btns div:hover {
  background-color: $box-border-transparent-opaque;
}

.AppTopNav__profile {
  height: 3.2vh;
  width: 3.2vh;
  border-radius: 4px;
  cursor: pointer;
  object-fit: cover;
}

// Top nav search bar
.MainSearchBar {
  position: absolute;
  transform: translate(-50%);
  top: 4px;
  left: 50%;
  z-index: 100;
  background-color: $main-white;
  padding-bottom: 15px;
  width: 50vw;
  // height: 30vh;
  max-height: 45vh;
  border-radius: 10px;
  border: 1px solid $border-light-gray;
  box-shadow: 0 2px 5px -1px $box-shadow-gray;
  color: black;
}

.MainSearchBar span {
  font-size: 1.5rem;
  color: $text-gray;
  // margin-right: 10px;
}

.MainSearchBar__field {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.MainSearchBar__field input:focus {
  outline: none;
  outline-width: 0;
  border-width:0px;
  box-shadow: none;
}

.MainSearchBar__search-chat {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-weight: bold;
  letter-spacing: .008rem;
  cursor: pointer;
}

.MainSearchBar__search-chat:hover,
.MainSearchBar__search-chat:hover span,
.MainSearchBar__btns div:hover,
.MainSearchBar__btns div:hover span,
.MainSearchBar__btns div:hover button,
.MainSearchBar__btn.search-button:hover,
.MainSearchBar__btn.search-button:hover span,
.MainSearchBar__btn.search-button:hover button {
  background-color: $link-blue;
  color: $main-white
}

.MainSearchBar__helper-text {
  margin: 15px 20px 10px 20px;
  font-size: .85rem;
  color: $text--light-gray;
}

.MainSearchBar__btns {
  display: flex;
  margin: 0px 20px;
}

.MainSearchBar__btns div,
.MainSearchBar__btn.search-button {
  margin-right: 10px;
  background-color: $button-light-blue;
  padding: 4px 8px;
  border-radius: 6px;
}

.MainSearchBar__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

// .MainSearchBar span {
//   margin-top: 2px;
//   margin-right: 0px;
//   font-size: 1.1rem;
// }

.MainSearchBar button {
  border: none;
  background: none;
  font-family: 'Lato', sans-serif;
  font-size: .95rem;
}

.MainSearchBar__btn.search-button span {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: -3px;
  margin-left: -2px;
}

.MainSearchBar__btn.search-button button {
  text-transform: capitalize;
}

.MainSearchBar__chat-search {
  margin-left: 10px;
}

.MainSearchBar__searchResults {
  overflow-y: scroll;
  max-height: 41vh;
}

.MainSearchBar__searchResults li {
  padding: 10px 20px;
}

.MainSearchBar__searchResults li:hover {
  background-color: $callout-box-gray;
  cursor: pointer;
}

.MainSearchBar__searchResults li {
  display: flex;
  align-items: center;
}

.MainSearchBar__searchResults-users img {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 8px;
}

.MainSearchBar__searchResults a {
  color: $text-black;
}

.MainSearchBar__searchResults-messages span {
  font-size: 1.2rem;
  margin-right: 8px;
  width: 25px;
}

.MainSearchBar__field span {
  margin-right: 8px;
}