.AppTopNav__container {
  background-color: $monument-top-nav-bg;
  color: $monument-top-nav-text;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1.5vh;
}

.AppTopNav__main {
  width: 55vw;
}

.AppTopNav__main {
  display: flex;
  margin-left: -5vw;
}


.AppTopNav__search-bar {
  width: 45vw;
  background-color: $box-border-transparent-opaque;
  border: 1px solid $border-dark-blue;
  border-radius: 5px;
  font-size: .82rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 300;
}

.AppTopNav__search-bar span {
  font-size: .9rem;
  margin-right: 5px;
  margin-bottom: -2px;
}

.AppTopNav__nav-btns {
  display: flex;
  align-items: center;
  margin-right: 1.5vw;
}

.AppTopNav__nav-btns i {
  font-size: 1.3rem;
}

.AppTopNav__nav-btns div {
  margin-left: 10px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppTopNav__nav-btns div:hover {
  background-color: $box-border-transparent-opaque;
}

.AppTopNav__profile {
  height: 3.2vh;
  width: 3.2vh;
  border-radius: 4px;
  cursor: pointer;
  object-fit: cover;
}

.MainSearchBar {
  position: absolute;
  transform: translate(-50%);
  top: 4px;
  left: 50%;
  z-index: 100;
  background-color: $main-white;
  padding: 5px;
  width: 50vw;
  // height: 30vh;
  max-height: 45vh;
  border-radius: 10px;
  border: 1px solid $border-light-gray;
  box-shadow: 0 2px 5px -1px $box-shadow-gray;
  color: black;
}